.carSection {
}
.box {
  margin: auto;
  width: 400px;
  text-align: center;
}

.image {
  width: 250px;
  height: 250px;
  @media screen and (min-width: 768px){
    width: 320px;
    height: 250px;
  }
}

.listTypeCar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  @media screen and (min-width: 1100px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

}