.icon{
  width: 42px;
  height: 42px;
}
.contactListItem{
  &:not(:last-child){
    margin-right: 15px;
  }
}
.contactListItemLink{
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 12px;
  &:hover{
    color: yellow;
    font-style: italic;
  }
}