.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  //position: fixed;
  background: #282c34;
  padding: 20px;
}
.topHeader{
  display: flex;
  background: #282c34;
  justify-content: center;
  border-bottom: 1px solid goldenrod;
  padding: 5px 0;
}
.contactList{
  //display: none;
  //@media screen and (min-width: 465px){
  //  display: block;
  //}
}